.column {
    flex: 1;
    text-align: center;
    margin: 15px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.card {
    font-size: 10px;
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.saveButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    display: inline-block;
    font-size: 14px;
}

.deleteButton {
    background-color: red; /* Green */
    float: right;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 12px;
    font-size: 14px;
    display: block
}

.textArea {
    width: 100%;
    border: 0px;
    font-size: 16px;
    resize: none;
}

.cardText {
    width: 100%;
    text-align: left;
}

.cardTitle {
    font-size: 10px;
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.columnTitle {
    width: 100%;
    font-size: 16px;
}

.maxNumCard {
    display: inline-block;
    text-align: left;
    margin: 10px;
}

.cardLimitSet {
    width: 30px;
}